body{
    display: grid;
    grid-template-areas: "cabeca cabeca cabeca"
    "corpo corpo corpo";
    grid-template-columns: 1fr auto  ;
    grid-row: auto auto ;
  

@media only screen and (max-device-width: 400px) {
  .menu { width:100%; }
 body{
  grid-template-areas: 
  "cabeca"
  "principal"
  "rodape";
  grid-template-columns: auto;
  grid-template-rows: 200px auto auto;
   }
  .logo{
      display: none;
  }
}

  header li {
    text-decoration: none;
    margin-left: 9px;
    padding: x;
    display: inline;
    position: relative;
    flex-direction: row;
    background-color: #f7c262;
    box-shadow: 3px 1px 3px #a571029c;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(139, 130, 253);
    margin: 0 10px 0 10px;
  }

  header a{
    text-decoration: none;
  }

  /* header{
    grid-area: cabeca;
    background-color: rgba(248, 162, 49, 0.966);
    width: auto;
    height: 200px;
    align-items: center;
    text-align: center;
    margin: 10px;
  } */
  header{
    grid-area: cabeca;
    background-color:rgba(248, 162, 49, 0.966);
    text-align: center;
    position: relative;
  }
  .logo{
    width: 300px;
    height: 300px;
    text-align: center;
    justify-content: center;
    position: relative;
    left: 30px;  
  }

  .menu{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffe5b5;
}

  header img{
    width: 200px;
    height: auto;
    position: relative;
    bottom: 50px;
    margin-bottom: 0;
    padding: -1;
  }

  main{
    background-color: #fa8459;
    align-items: center;
    text-align: center;

    background: url("img/fundotijolinho") center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

  main h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(1, 2, 2);
    font-size: xx-large;
    background-color: #f7c262;

  }

 div{
    padding: 2px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #f8ba47;
    margin: 10px;
  }

  div a{
    text-decoration: none;
    color: #0a6f88;
    background-color: #ffe44e;
    border-radius: 4px;
  }

  div button{
    border-radius: 3px;
    padding: 4px;
    margin-top: 10px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5fc49d;

  }
  .prod{
    width: 170px;
    border-radius: 5px;
  }
.delete{
  background: #e2e2e2;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.7s;
}
.delete:hover{
  background: #ccc;
}
.page-title{
  font-size: 30px;
  padding: 20px 0;
  text-align: center;
}
.content{
  display: flex;
  padding: 50px;
}
section{
  flex: 1;
}
aside{
  min-width: 250px;
  margin: 30px;
  margin-left: 40px;
  grid-area: secun;
}
table{
  width: 100%;
  border-collapse: collapse;
}
tr{
  border-bottom: 3px solid rgb(80, 80, 80);
}
th{
  font-size: 18px;
  text-align: left;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: rgb(48, 48, 48);
}
.produto{
  display: flex;
  align-items: center;
}
.info{
  margin-left: 20px;
}
.name{
  font-size: 25px;
  margin-bottom: 7px;
}
.categoria{
  color: rgb(56, 56, 56);
}

td{
  padding: 15px 0;

}
.textfield{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0px;
}

.textfield > input{
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 12pt;
  outline: none;
  box-sizing: border-box;
}

.textfield > label{
  margin-bottom: 10px;
}

/* inicio botão animado */
.container{
  position:relative;
  width:400px;
  height:400px;
  background:white;
  margin: auto;
  padding-top:300px;
  padding-left: 120px;  
}

.button {
  color: #0e0808;
  background: #fcf80b;
  border-radius: 50px;
  border: none;
  transition: .5s ease;
  box-shadow: 0 15px 60px -5px rgba(0, 0, 0, .5);
  width: 300px;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 6px;
  font-size: large;

}



.button:hover {
  box-shadow: none;
  cursor: pointer;
}

.button:hover + .drip-1{
  height: 50px;
}

.button:hover ~ .drip-2{
  height: 50px;
}

.button:hover ~ .drip-3{
  height: 50px;
}



.drip-1{
  position:absolute;
  left: 1009px;
  width:3px;
  height:1px;
  border-radius:0 0 21px 21px;
  background:#fcf80b;
  margin: 0px 220px;
  transition: height 0.9s ease;
}


.drip-2{
  position:absolute;
  left: 800px;
  width:2px;
  height:0px;
  border-radius:0 0 21px 21px;
  background:#fcf80b;
  margin: 0px 200px;
  transition: height 1.5s ease;
}

.drip-3{
  position:absolute;
  left: 1010px;
  width:7px;
  height:0px;
  border-radius:0 0 21px 21px;
  background:#fcf80b;
  margin: 0px 230px;
  transition: height .7s ease;
}
}
/* fim botão animado */