/* configuraçao do grid */
body{
    display: grid;
    grid-template-areas:
    "cabeca cabeca cabeca "
    "corpo corpo corpo "
    "rodape rodape rodape";
    grid-template-columns: 1fr 2fr 1fr;
    grid-row: auto auto auto;
}
@media only screen and (max-device-width: 400px) {
    .menu { width:100%; }
   body{
    grid-template-areas: 
    "cabeca"
    "principal"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: auto;
     }
    .logo{
        display: none;
    }
}
/* fim das cofiguracoes do grid */

/* inicio das connfiguraçoes do cabeçalho */
header{
    grid-area: cabeca;
    background-color:rgba(248, 162, 49, 0.966);
    text-align: center;
    position: relative;

}
/* configuraçao da logo */
.logo{
    width: 300px;
    height: auto;
    text-align: center;
    justify-content: center;
    position: relative;
    left: 30px;  
}
/* configuraçao do menu */
.menu{
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: #ffe5b5;
}

header li {
    text-decoration: none;
    margin-left: 9px;
    padding: x;
    display: inline;
    position: relative;
    bottom: 11px;
    flex-direction: row;
    background-color: #f7c262;
    box-shadow: 3px 1px 3px #a571029c;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(139, 130, 253);
    margin: 0 10px 0 10px;
  }

  header a{
    text-decoration: none;
  }
/* final das configuracoes do menu */
/* fim das cofiguracoes do cabeçalho */

/* inicio das connfiguraçoes do corpo*/
main{
    grid-area: corpo;
    background-color: rgba(248, 162, 49, 0.678);
    margin-top: 5px;
    text-align: center;
    align-items: center;

    background: url("img/fundotijolinho") center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
} 
main a{
    background-color: rgba(248, 162, 49, 0.966);
    color: rgb(53, 53, 104);
    text-decoration: none;
}

/* comfiguracao das letras */
h1 {
    text-align: center;
    align-items: center;
    /* margin-right: 40px ; */
    background-color:rgba(247, 140, 0, 0.445) ;
}
 main h2{
    border-style: dotted;
    border-width: 4px;
    border-color: rgb(148, 5, 5);
    padding: 5px;
    width: 300px;
    text-align: center;
    align-items: center;
    justify-items: center;
    position: relative;
    left: 41%;
}

/* inicio das configuraçoes dos cards */
section{
    margin: 10px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(241, 137, 0, 0.356);
}

/* section separado */
.salgado{
    width: 100%;
    background-color: rgba(255, 236, 129, 0.384);
    margin-right: 10px;
}
/* configuraçoes das imagens dos cards */
div img{
    width: 100px;
}

/* configuraloes cards dos hot dogs salgados  */
.sal{
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    margin:10px;
    background-color:  #ffe5b5;
    justify-content: center;
    transition: 1s;
    box-shadow: 0px 5px 10px rgba(90, 52, 9, 0.514);
    border-style: double;
    border-width: 10px;
    border-color: rgb(17, 68, 92);
    position: relative;
    left: 0.5%;

}
/*fim  configuraloes cards dos hot dogs salgados  */

/* configuraloes cards das bebidas */
.bebidas{
    flex-direction: column;
    border-radius: 7px;
    width: 400px;
    height: 300px;
    display:flex;
    text-align: center;
    align-items: center;
    margin:10px;
    padding-bottom: 1px;
    background-color:  #ffe5b5;
    justify-content: center;
    transition: 1s;
    box-shadow: 0px 5px 10px rgba(90, 52, 9, 0.514);
    border-style: double;
    border-width: 10px;
    border-color: rgb(17, 68, 92);
    position: relative;
    left: 0.5%;

}

.gua{
    height: 100px;
    width: auto;
}

.gua a{
  position: relative;
  bottom: 2px;
}

.bebidas input{
    width: 100px;
    position: relative;
    bottom: 4px;
}

.kapo {
    position: relative;
    bottom:9px;
}
/* fim dasconfiguraloes cards de bebidas  */

/* configuraloes cards dos hot dogs doces */
/* section separado */
.doces{
    background-color: rgba(245, 245, 220, 0);
}

.doce{
    
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    margin:10px;
    background-color: #ffe5b5;
    justify-content: center;
    transition: 1s;
    box-shadow: 0px 5px 10px rgba(90, 52, 9, 0.514);
    border-style: double;
    border-width: 10px;
    border-color: rgb(17, 68, 92);
    position: relative;
    left: 0.5%;
}
/* fim configuraloes cards dos hot dogs doces */

/* configuraloes cards dos acompanhamentos */
  .batata{
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    margin:10px;
    background-color: #ffe5b5;
    justify-content: center;
    transition: 1s;
    box-shadow: 0px 5px 10px rgba(90, 52, 9, 0.514);
    border-style: double;
    border-width: 10px;
    border-color: rgb(17, 68, 92);
    position: relative;
    left: 0.5%;
}

.sup{
    position: relative;
    bottom: 15px;
}
/* fim configuraloes cards dos acompanhamentos  */
/* fim das configuraçoes dos cards */
/* fim das cofiguracoes do corpo*/

/* inicio das connfiguraçoes do rodape*/
footer{
    grid-area: rodape;
    background-color:rgba(248, 162, 49, 0.966);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 2px;
    margin: 2px;
    max-height: 300px;

}

.app{
    position: relative;
    bottom: 150px;
    }
/* configuraçoes das imagens */
.ifood{
    width: 100px;
    height: auto;
}

.much{
    width: 100px;
    height: auto;
}

.rappi{
    width: 100px;
    height: auto;
}

.chat{
    display: flex;
    flex-direction: row;
    background-color: #f0c169;
    width: 190px;

}
.ch{
    position: relative;
    right: 560px;
    top: 20px;
}
/* fim das cofiguracoes do rodape*/
