/* configuraçao do grid */
body{
    display: grid;
    grid-template-areas:
    "cabeca cabeca cabeca "
    "corpo corpo corpo "
    "rodape rodape rodape";
    grid-template-columns: 1fr 2fr 1fr;
    grid-row: auto auto auto;
  

}
@media only screen and  (max-width:400px ){
    body{
     grid-template-areas: 
     "cabeca"
     "corpo"
     "rodape";
     grid-template-columns: auto;
     grid-template-rows: 300px auto auto;
      }
    }

header{
    grid-area: cabeca;
    background-color:rgba(248, 162, 49, 0.966);
    

}
.logo{
    position: relative;
    left: 500px;
    margin-top: -20px;
    width: 200px;
    height: 200px;
    
}

main{
    grid-area: corpo;
    background-color: #fa8459;
}
section{
    margin: 10px;
    flex-direction: row;
    display: flex;
}

.salgado{
 background-color: beige;

}
div img{
    width: 100px;
}
.sal{
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    text-align: center;
    align-items: center;
    margin:10px;
    background-color:  #f7c262;
    justify-content: center;
    transition: 1s;
    box-shadow: 0px 10px 40px rgb(132, 113, 163);

}

.doces{
    background-color: beige;

}

.doce{
    
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    text-align: center;
    align-items: center;
    margin:10px;
    background-color:  #f7c262;
    justify-content: center;
    transition: 1s;
    box-shadow: 0px 10px 40px rgb(132, 113, 163);
}

footer{
    grid-area: rodape;
    background-color:rgba(248, 162, 49, 0.966);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 2px;
    margin: 2px;

}

.ifood{
    width: 100px;
    height: auto;
}

.much{
    width: 100px;
    height: auto;
}

.rappi{
    width: 100px;
    height: auto;
}

/* configuraçao do menu */
header li {
    text-decoration: none;
    margin-left: 9px;
    padding: x;
    display: inline;
    position: relative;
    right: 24px;
    bottom: 50px;
    flex-direction: row;
    background-color: #f7c262;
    box-shadow: 3px 1px 3px #5fc49d;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(139, 130, 253);
  }

  header a{
    text-decoration: none;
  }
/* final das configuracoes do menu */








  