/* main.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fonte da pagina */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@415&display=swap');
body{
    font-family: 'Quicksand', 'sans-serif';
    /* fim da fonte */
    margin: 0;/* grid */
    display: grid;
    grid-template-areas: "cab "
                         "corp  "
                         "pe ";
    /* grid-template-columns: 200px 200px ; */
    /* grid-template-rows: 1fr 2fr 2fr  1fr; */
    
    background-color: aliceblue;

}
/* inicio das configuraçoes do header */
header {
    text-align: center;
    grid-area: cab;/*grid*/
    background-color: rgba(24, 32, 105, 0.938);
    padding: 10px;
    display: flex;
    align-items: center;
    height: 135px;
    position: relative;

    
}
/*ajustes de logo*/
.logo{
    justify-content: center;
    text-align: center;  
}

.logodiv{
    margin: auto;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* configuraçao do menu retratil*/
.menu{
    position: absolute;
    top: 0;
}
.menu nav{
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(15, 14, 87);
    width: 0px;
    transition: all 0.8s ease;
    position: relative;
    margin: 5px;
}
.menu li{
    list-style: none;
    color: #fffbfb;
    padding: 10px;
    text-align: center;
    font-size: 23px;
}
.menu li a{
    color:#000000;
    text-decoration: none;
}
.menu a span{
    font-size: 0;
    display: block;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.menu label{
    font-size: 28px;
    padding-left: 6px;

}
/*configurações do botão do menu retratil*/
.botaoz{
    display: none;
    color: #3e88b3;
}
.botaoz:checked+nav{
    width: 200px;
    border-radius: 5px;
    padding: 0 20px;
}

.botaoz:checked+nav li{
    border-bottom: dashed 1px rgb(63, 116, 167) ;
    text-align: left;
}

.botaoz:checked+nav li:last-child{
    border: none;
}

.botaoz:checked+nav a span{
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
    padding-left: 10px;
}

.fa-bars:hover{
    color: rgb(217, 243, 255);
    text-shadow: 1px 1px 8px #fcdbe4;
}
.menu li a:hover{
    color: #31769e;
    text-shadow: 0 0 5px rgb(217, 243, 255);
}
.icon{
    width: 70px;
    margin-top: 20px;
}
.chat{
    position: relative;
    left: 60px;
}
/* final menu */
/* inicio das configuraçoes do header */


/* inicio das configuraçoes do main */
main {
    background-color: #97c2dd;
    grid-area: corp;/*grid*/
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card, .card2, .card3{
    background: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(97, 97, 139, 0.849);
    margin: 10px;
    border-radius: 8px;
    width: calc(600px - 40px);
}
/*configuração de fontes*/
main h1 {
    color: #325a85;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
}

main h5 {
    color: #3f3f47;
    font-size: 20px;
}

main h4 {
    color: #3f3f47;
    font-size: 20px;
}
main li{
    color: #3f3f47;
    font-size: 16px;
    margin-left: 15px;
    margin-top:5px;
}
/*ajustes da tabela*/
.tabela {
    margin-top: 10%;
    width: 500px;
}
.tabela {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #97c2dd;
    color: #3f3f47;
}

th, td {
    padding: 10px 15px;
    text-align: left;
}

tbody tr {
    border-bottom: 2px solid #325a85;
}

tbody tr:last-child {
    border-bottom: none;
}

tbody tr:nth-child(odd) {
    background-color: rgba(217, 243, 255, 0.5);
}

th {
    font-weight: bold;
    border-bottom: 2px solid #325a85;
}
.lkca{
    color: #325a85;
    padding-left: 145px;
    outline: #97c2dd;
    text-align: center;
    align-items: center;
    font-weight: 1000;
    font-size: 20px;
    cursor: pointer;
}
/* fim das configuraçoes do footer */

/* inicio das configuraçoes do footer */
footer {
    background-color: rgba(24, 32, 105, 0.938);
    padding: 10px;
    padding: 20px;
    text-align:left;
    grid-area: pe;/*grid*/
    position: relative;
    bottom: 0;
    width: 100%;
    height: 150px;
}
/*mascote*/
.robo{
    width: 200px;
    position: absolute;
}
/* fim das configuraçoes do footer */
