/* inicio das configuraçoes do grid */
body{
    display: grid;
    grid-template-areas:
    "cabeca cabeca cabeca "
    "corpo corpo corpo "
    "rodape rodape rodape";
    grid-template-columns: 1fr 2fr 1fr;
    grid-row: auto auto auto;
}
@media only screen and (max-device-width: 400px) {
    .menu { width:100%; }
   body{
    grid-template-areas: 
    "cabeca"
    "principal"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: 200px  auto;
     }
    .logo{
        display: none;
    }
}
/* fimdas configuraçoes do grid  */

/* inicio das configuraçoes do cabeçalho  */
header{
    grid-area: cabeca;
    background-color: rgba(248, 162, 49, 0.966);
    height: 100px;

}

 header img{
    height: 200px;
    position: relative;
    left: 800px;
    bottom: 60px;
}
/* fim das configuraçoes do cabeçalho  */

/* inicio das configuraçoes do corpo  */
main{
    grid-area: corpo;
    background-color:  #ffe5b5;
    text-align: center;
    height: 1000px;
    align-items: center;

    background: url("img/fundotijolinho") center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
 }
 
 main h1{
    color: rgb(32, 30, 30);
   border-style: dashed;
   border-color: rgb(23, 11, 133);
   width: 800px;
   position: relative;
   left: 30%;
   bottom: 10px;

   /* background-color: rgb(209, 169, 109); */
   
 }

 main h2{
    text-align: center;
    margin: 3px;
 }

 /* inicio botão animado */
.container{
    position:relative;
    width:400px;
    height:400px;
    background:white;
    margin: auto;
    padding-top:0px;
    padding-left: 120px;  
  }
  
  .button {
    color: #0e0808;
    background: #fcf80b;
    border-radius: 50px;
    border: none;
    transition: .5s ease;
    box-shadow: 0 15px 60px -5px rgba(0, 0, 0, .5);
    width: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 6px;
    font-size: large;
  
  }
  
  
  
  .button:hover {
    box-shadow: none;
    cursor: pointer;
  }
  
  .button:hover + .drip-1{
    height: 50px;
  }
  
  .button:hover ~ .drip-2{
    height: 50px;
  }
  
  .button:hover ~ .drip-3{
    height: 50px;
  }
  
  
  
  .drip-1{
    position:relative;
    left: 580px;
    bottom: 15px; 
    width:6px;
    height:1px;
    border-radius:0 0 21px 21px;
    background:#fcf80b;
    margin: 0px 220px;
    transition: height 0.9s ease;
  }
  
  
  .drip-2{
    position:relative;
    left: 580px;
    bottom: 19px; 
    width:5px;
    height:0px;
    border-radius:0 0 21px 21px;
    background:#fcf80b;
    margin: 0px 200px;
    transition: height 1.5s ease;
  }
  
  .drip-3{
    position:relative;
    left: 300px;
    bottom: 30px; 
    width:7px;
    height:0px;
    border-radius:0 0 21px 21px;
    background:#fcf80b;
    margin: 0px 230px;
    transition: height 0.5s ease;
  }

  .betina{
   background-color:#ffe5b5;
   width: 100%;
   height: 30px;

  }
  /* fim botão animado */  

/* inicio alterações div */
div img{
    width: 100px;
}
/*  inicio sections */
.comple {
   display:flex;
    margin: 3px;
    background-color: rgb(252, 194, 87);
}

.cheese{

    display: flex;
    margin: 3px;
    background-color: rgb(252, 194, 87);
}

.bread{
    display: flex;
    margin: 3px;
    background-color: rgb(252, 194, 87);
    
}

.sicha{
  display: flex;
  margin: 10px;
  background-color: rgb(252, 194, 87);
  padding: 20px;
  align-items: center;
 
  flex-direction: row;
    
}
/* fim sections */

/* inicio divs */
.checkbox{
   margin: 2px;
}
.pao{

    width: 250px;
    flex-direction: row;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    margin:10px;
    justify-content:r;
    transition: 1s;
    box-shadow: 0px 5px 10px rgba(90, 52, 9, 0.514);
    border-style: double;
    border-width: 10px;
    border-color: rgb(17, 68, 92);
    position: relative;
    right: 1%;
    background-color: beige;

}

.Queijo{
  width: 200px;
  flex-direction: row;
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  margin:10px;
  justify-content:r;
  transition: 1s;
  box-shadow: 0px 5px 10px rgba(90, 52, 9, 0.514);
  border-style: double;
  border-width: 10px;
  border-color: rgb(17, 68, 92);
  position: relative;
  right: 1%;
  background-color: beige;
}

  
 

.comp{
    width: 250px;
    flex-direction: row;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 15px;
    justify-content: center;
    transition: 1s;
    box-shadow: 0px 5px 10px rgba(90, 52, 9, 0.514);
    border-style: double;
    border-width: 10px;
    border-color: rgb(17, 68, 92);
    position: relative;
    right: 10px;
    background-color: beige;
}

.salsi{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    margin:10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    transition: 1s;
    box-shadow: 0px 5px 10px rgba(90, 52, 9, 0.514);
    border-style:double;
    border-width: 10px;
    border-color: rgb(17, 68, 92);
    position: relative;
    left: 10%;
    top: 10px;
    background-color: beige;

}

.check{
  position: relative;
  top: 8px;
}
.cont{
  display: flex;
  position: relative;
  left: 200px;
  background-color: #ffe5b5;
  border-radius: 10px;
  height: 30px;
}

.quan{
  position: relative;
  bottom: 30px;
  left: 270px;
}

.quan2{
  position: relative;
 top: 50px;
  left: 100px;
}
/* fim configurações */
/* fim das configuraçoes do corpo */

/* inicio das configuraçoes do reodape  */
footer{
        grid-area: rodape;
        background-color:rgba(252, 161, 44, 0.966);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        padding: 2px;
        margin: 2px;
        height: auto;

        
 }

/*  configuraçoes imagens do rodape  */
 .ifood{
    width: 100px;
    height: auto;
}

.much{
    width: 100px;
    height: auto;
}

.rappi{
    width: 100px;
    height: auto;
}

footer a{
    margin: 9px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* fim das configuraçoes do reodape  */


