
/* configuraçao do grid */
body{
    display: grid;
    grid-template-areas:
    "cabeca cabeca cabeca "
    "corpo corpo corpo "
    "rodape rodape rodape";
    grid-template-columns: 1fr 4fr 1fr;
    grid-row: auto auto auto;





}
@media only screen and  (max-width:400px ){
    body{
     grid-template-areas: 
     "cabeca"
     "principal"
     "rodape";
     grid-template-columns: auto;
     grid-template-rows: 300px auto auto;
      }
      aside{
         display: none;
     }
     .logotipo{
         display:none;
     }
     
 
 }
/* fim das configuraçoes do grid */

header{
    grid-area: cabeca;
    background-color:lightsalmon;
    
}
header a{
    text-decoration: none;
    background-color: aquamarine;
}

.logo{
    width: 300px;
    height: 200px;
    
}
main{
    grid-area: corpo;
    background-color: blanchedalmond;

}

footer{
    grid-area: rodape;
    background-color: yellow;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 2px;
    margin: 2px;
   
}



.ifood{
    width: 100px;
    height: auto;
}

.much{
    width: 100px;
    height: auto;
}

.rappi{
    width: 100px;
    height: auto;
}