
/* configuraçao do grid */
body{
    display: grid;
    grid-template-areas:
    "cabeca cabeca cabeca "
    "corpo corpo corpo "
    "rodape rodape rodape";
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto auto auto;
}

 @media only screen and (max-device-width: 400px) {
     .menu { width:100%; }
    body{
     grid-template-areas: 
     "cabeca"
     "principal"
     "rodape";
     grid-template-columns: auto;
     grid-template-rows: 200px auto auto;
      }
     .logo{
         display: flex;
     }
 }
/* fim das configuraçoes do grid */

body {
    font-family: Arial, sans-serif;
}

/* inicio configuraçoes cabeçalho */
header{
     /* grid-area: cabeca;
    background-color:rgba(39, 131, 206, 0.966);
    text-align: center;
    color: #e6eefa;
    font-size: xx-large;
    height: 200px; */

    grid-area: cabeca;
    background-color:rgba(248, 162, 49, 0.966);
    text-align: center;
    position: relative;
}
/* cofiguraçoes da logo */
.logo{
    width: 190px;
    text-align: center;  
}
.logodiv{
    display: flex;
    justify-content: center;
    align-items: center; 
}
/* configuraçao do menu */
.menu{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #ffe5b5;
}

header li {
    text-decoration: none;
    margin-left: 9px;
    padding: x;
    display: inline;
    position: relative;
    bottom: 12px;
    flex-direction: row;
    background-color: #f7c262;
    box-shadow: 3px 1px 3px #a571029c;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(139, 130, 253);
    margin: 0 10px 0 10px;
  }

  header a{
    text-decoration: none;
  }
/* final das configuracoes do menu */

/* inicio configuraçoes corpo */

main{
    grid-area: corpo;
    background-color:#fa8459;
    margin-top: 5px;
    text-align: center;
    align-items: center;


    background: url("img/fundotijolinho") center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/* configuraçao do section */
section{
    background-color: #ffe5b5e5;
    border-radius: 8px;
    /* margin: 7px; */
    text-align: center;
    padding: 8px;
    display: flexbox;
}

/*configuraçors das letras  */
main h1{
   text-align: center;
   /* color:  rgb(255, 229, 210);
   background-color: #c25700f8; */
   
}
 
/* inicio configuraçao do carrossel*/
.carrossel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border: solid 25px  rgba(250, 249, 244, 0.767);
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
 
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
   
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
/* fim carrossel */
/* fim configuraçoes do corpo */

/* inicio configuraçoes do rodape */
footer{
    grid-area: rodape;
    background-color:rgba(252, 161, 44, 0.966);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 2px;
    margin: 2px;
    
    /* position: relative;
    width: 100%;
    bottom: 0; */
}
footer a{
    display: flex;
    margin: 9px;
    flex-direction: column;
    align-items: center;
}

/* configuraçoes imagens do rodape */
.ifood{
    width: 95px;
    height: auto;
}

.much{
    width: 95px;
    height: auto;
}

.rappi{
    width: 95px;
    height: auto;
}
/* fim configuraçoes do rodape */


