
/* configuraçao do grid */
body{
    display: grid;
    grid-template-areas:
    "cabeca cabeca cabeca "
    "corpo corpo corpo "
    "rodape rodape rodape";
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto auto auto;

}
@media only screen and  (max-width:400px ){
    body{
     grid-template-areas: 
     "cabeca"
     "principal"
     "rodape";
     grid-template-columns: auto;
     grid-template-rows: 300px auto auto;
      }
     .logotipo{
         display:none;
     }
     
 
 }
/* fim das configuraçoes do grid */

header{
    
    grid-area: cabeca;
    background-color:rgba(248, 162, 49, 0.966);
    text-align: center;
    color: #e6eefa;
    font-size: xx-large;
    height: 200px;
    
}


section{
    background-color: rgb(248, 248, 114);
    border-radius: 8px;
    margin: 7px;
    text-align: center;
    padding: 8px;

}

.logo{
    margin-top:-40px;
    width: 200px;
    height: 200px;
    text-align: center;
    justify-content: center;
    position: relative;
    left: 550px;
    
}

main{
    grid-area: corpo;
    background-color:#fa8459;

}

main h1{
   text-align: center;
   color: chocolate;
   background-color: #f7c262;
   
}

footer{
    grid-area: rodape;
    background-color:rgba(252, 161, 44, 0.966);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 2px;
    margin: 2px;
    
    /* position: relative;
    width: 100%;
    bottom: 0; */

    
   
}
footer a{
    display: flex;
    margin: 9px;
    flex-direction: column;
    align-items: center;
}



.ifood{
    width: 100px;
    height: auto;
}

.much{
    width: 100px;
    height: auto;
}

.rappi{
    width: 100px;
    height: auto;
}

 header li {
    text-decoration: none;
    margin-left: 9px;
    padding: x;
    display: inline;
    position: relative;
    right: 24px;
    bottom: 50px;
    flex-direction: row;
    background-color: #f7c262;
    box-shadow: 3px 1px 3px #5fc49d;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(139, 130, 253);
  }

  header a{
    text-decoration: none;
  }

  /* carrossel de fotos */
  body {
    font-family: Arial, sans-serif;
}

.carrossel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
/* fim carrossel */

/* configuraçao do menu */
.menu nav{
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(236, 205, 104);
    width: 50px;
    transition: all 0.5s ease;
    position: relative;
    margin: 5px;
}
.menu li{
    list-style: none;
    color: #fffbfb;
    padding: 10px;
    text-align: center;
    font-size: 23px;
}
.menu li a{
    color:#72CBFF;
    text-decoration: none;
}
.menu a span{
    font-size: 0;
    display: block;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.menu label{
    font-size: 28px;
    padding-left: 16px;

}

.botaoz{
    display: none;
    color: #72CBFF;
}
.botaoz:checked+nav{
    width: 200px;
    border-radius: 5px;
    padding: 0 20px;
}

.botaoz:checked+nav li{
    border-bottom: dashed 1px rgb(248, 233, 147) ;
    text-align: left;
}

.botaoz:checked+nav li:last-child{
    border: none;
}

.botaoz:checked+nav a span{
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
    padding-left: 10px;
}

.fa-bars:hover{
    color: white;
    text-shadow: 1px 1px 8px #fcdbe4;
}

.menu li a:hover{
    color: #ff7cd8;
    text-shadow: 0 0 5px white;
}
/* final das configuracoes do menu */