
/* configuraçao do grid */
body{
    display: grid;
    grid-template-areas:
    "cabeca  "
    "corpo "
    "rodape ";
    grid-template-columns: auto;
    grid-row: auto auto auto;
}

 @media only screen and (max-device-width: 768px) {
     .menu { width:100%; }
    body{
     grid-template-areas: 
     "cabeca"
     "corpo"
     "rodape";
     grid-template-columns: auto;
     grid-template-rows: 200px auto auto;
      }
     .logo{
         display: flex;
     }
    
    
 }
/* fim das configuraçoes do grid */

body {
    font-family: Arial, sans-serif;
}

/* inicio configuraçoes cabeçalho */
header{
     /* grid-area: cabeca;
    background-color:rgba(39, 131, 206, 0.966);
    text-align: center;
    color: #e6eefa;
    font-size: xx-large;
    height: 200px; */

    grid-area: cabeca;
    background-color:rgba(248, 162, 49, 0.966);
    text-align: center;
    position: relative;
}

/* cofiguraçoes da logo */
.logo{
    width: 300px;
    text-align: center;  
}

.logodiv{
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* configuraçao do menu */
.menu{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #ffe5b5;
}

header li {
    text-decoration: none;
    margin-left: 9px;
    padding: x;
    display: inline;
    position: relative;
    bottom: 12px;
    flex-direction: row;
    background-color: #f7c262;
    box-shadow: 3px 1px 3px #a571029c;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(139, 130, 253);
    margin: 0 10px 0 10px;
  }

  header a{
    text-decoration: none;
    color: black;
  }
/* final das configuracoes do menu */

/* inicio configuraçoes corpo */

main{
    grid-area: corpo;
    background-color:#fa8459;
    margin-top: 5px;
    text-align: center;
    align-items: center;


    background: url("img/fundotijolinho") center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/* configuraçao do section */
section{
    background-color: #ffe5b5e5;
    border-radius: 200px;
    /* margin: 7px; */
    text-align: center;
    padding: 8px;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

/*configuraçors das letras  */
main h1{
   text-align: center;
   text-align: center;
   background-color:  rgba(4, 47, 83, 0.801);
   /* border-style: dotted;
   border-width: 4px;
   border-color: #f7cd7e; */
   padding: 5px;
   width: 300px;
   text-align: center;
   align-items: center;
   justify-items: center;
   position: relative;
   left: 41%;
   color: #ffe5b5;
   border-radius: 10px;
}
   

 
/* inicio configuraçao do carrossel*/
.carrossel {
    position: relative;
    max-width: 600px;
    max-height: auto;
    margin: auto;
    overflow: hidden;
    border: solid 25px  rgba(250, 249, 244, 0.767);
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
 
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

 .slides img {
    width: 100%;
    display: block;
   
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
/* fim carrossel */

/* configuraloes cards dos hot dogs salgados  */
.sal{
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    margin:10px;
    background-color:  #ffe5b5;
    justify-content: center;
    transition: 1s;
    box-shadow: 0px 5px 10px rgba(90, 52, 9, 0.514);
    border-style: double;
    border-width: 10px;
    border-color: rgb(17, 68, 92);
    position: relative;
    left: 0.5%;

}
/*fim  configuraloes cards dos hot dogs salgados  */

.doce{
    
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    margin:10px;
    background-color: #ffe5b5;
    justify-content: center;
    transition: 1s;
    box-shadow: 0px 5px 10px rgba(90, 52, 9, 0.514);
    border-style: double;
    border-width: 10px;
    border-color: rgb(17, 68, 92);
    position: relative;
    left: 0.5%;
}
/* fim configuraloes cards dos hot dogs doces */

/* configuraçoes das imagens dos cards */
div img{
    width: 100px;
}

/* configuraloes cards dos hot dogs salgados  */

main a{
    background-color: rgba(248, 162, 49, 0.966);
    color: rgb(53, 53, 104);
    text-decoration: none;
}

.section{
    margin: 10px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 186, 95, 0);
}
/* fim configuraçoes do corpo */

/* inicio configuraçoes do rodape */
footer{
    grid-area: rodape;
    background-color:rgba(252, 161, 44, 0.966);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 2px;
    margin: 2px;
    position: relative;
    height: auto;
    max-height: 300px;
}

.app{
    position: relative;
    bottom: 150px;
    }

/* configuraçoes imagens do rodape */
.ifood{
    width: 95px;
    height: auto;
}

.much{
    width: 95px;
    height: auto;
}

.rappi{
    width: 95px;
    height: auto;
}

.chat{
    display: flex;
    flex-direction: row;
    background-color: #f0c169;
    width: 230px;

}
.ch{
    position: relative;
    right: 560px;
    top: 20px;
}
/* fim configuraçoes do rodape */


